# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
volumes/
*.pyc
.DS_Store
app.log
indices/
models/*.gguf
models/*.bin
models/.cache/
backend/.python-version
backend/config.json

# frontend
frontend/node_modules/
frontend/.next/
frontend/build/
node_modules/